#### Abstract classes and abstract methods

1. If a method is defined as abstract then the class will automatically become abstract class.
2. We cannot create object of abstract class.
3. Such classes are used to achieve polymorphism.
3. Multiple classes can be derived from an abstract class.
4. Whenever a class is defines from abstract class it has to override all abstract methods of base class otherwise the derived class will also become a abstract class.

#### Python abstract method

1. In fact python on its own doesn't provided abstract class.
2. Python comes with module which provide the infrastructure for defining abstract base classes ABCs. This module is calles as abc.
3. In python an abstract class must be derived from class ABC.
4. All abstract methods of this abstract class must be defined with decorator (attribute) @abstractmethod.

In [13]:
#Design a class shape containing abstract method area
from abc import ABC, abstractmethod
class Shape(ABC):
    @abstractmethod
    def area(self):
        pass
a=Shape()
#it gives compile time error
#we cannot create an object of class Shape as shape in an abstract class

TypeError: Can't instantiate abstract class Shape with abstract methods area

In [14]:
#design two classes circle and rectangle that they must contain a method area

from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def area(self):
        pass
    
class Circle(Shape):
    def __init__(self,radius):
        self.radius=radius
    def area(self):
        a=3.14 * self.radius ** 2
        print("Area of cicle is ",a)

class Rectangle(Shape):
    def __init__(self,length,breadth):
        self.length=length
        self.breadth=breadth
    def area(self):
        a = self.length * self.breadth
        print("Area of rectangle is ",a)

a = Circle(5)
a.area()
b = Rectangle(5,6)
b.area()

Area of cicle is  78.5
Area of rectangle is  30

In [17]:
# design two classes SAccount and CAccount 
# DM --> accno, balance
# MF --> Account(an,bl) , showBalance() , Deposit() , Withdraw()
# deposit and withdraw must be abstract as both method have different rules for different types of account
# RULES
"""
CAccount:
    will charge 1 rupee for each transtion
    minimum balance is 0
    
SAccount:
    will allow max 100000
    min balance is 500
"""

from abc import ABC, abstractmethod

class Account(ABC):
    def __init__(self,accno,bal):
        self.accno = accno
        self.balance = bal
        
    def showBalance(self):
        print("Account number: ",self.accno)
        print("Balance: ",self.balance)
        
    @abstractmethod
    def deposit(self):
        pass
    
    @abstractmethod
    def withdraw(self):
        pass

class CAccount(Account):
    def deposit(self,amt):
        self.balance = self.balance + amt - 1
        print("Balance ",self.balance)
    def withdraw(self,amt):
        if self.balance - amt - 1 < 0 :
            print("Insufficient Balance")
        else:
            self.balance = self.balance - amt - 1
            print("Balance: ",self.balance)

class SAccount(Account):
    def deposit(self,amt):
        self.balance = self.balance + amt
        print("Balance ",self.balance)
    def withdraw(self,amt):
        if self.balance - amt < 500 :
            print("Insufficient Balance")
        else:
            self.balance = self.balance - amt
            print("Balance: ",self.balance)    
            
a = CAccount(4117,5000)
a.showBalance()
a.deposit(5000)
a.withdraw(10000)
a.withdraw(9997)

b = SAccount(4117,5000)
b.showBalance()
b.deposit(5000)
b.withdraw(1000)
b.withdraw(4500)

Account number:  4117
Balance:  5000
Balance  9999
Insufficient Balance
Balance:  1
Account number:  4117
Balance:  5000
Balance  10000
Balance:  9000
Balance:  4500

# 17 SEPT 2021

### Module
1. Amodule is a simply apyhon file where classs , functions and variables are defined.
2. This modules can be important in our project whenever required
3. There are two types of modules
    1. Built-in module
    2. User-defined module

#### Built-in module

- some polular modules in python are
    1. math 
        - for mathematical function
    2. thrading 
        - multithreading application
    3. collections 
        - additional collection class
    4. os 
        - operating system related
    5. re 
        - text processing
    6. random 
        - random number generation
    7. pickle 
        - used to  
    8. nltk 
        - natural language processing
    9. datetime 
        - used to perform operations on date and time data
    10. tkinter 
        - for gui interface
    11. scokets 
        - for network programming

####  Importing Module

#####  import  statement
    - It is used to import a module.
    - Syntax:-
        import module_name1, module_name2,...
        ex:-
            import mylib,math,random
            
##### from import statement
    - It is used to import particular attribute from a module.
    - Syntax:-
        from module_name import module_name1,module_name2,...
        ex:-
            from mylib import circle

##### Renamig a module
    - we can create an alias when we import a module.
    - syntax:-
        import module_name as alias_name
        ex:-
            import pandas as pd

####  User defined modules

- it is a module that is created by te user so that module can be use by himself or by other users in other programmers.

- steps to create a module
    1. Create a file having same name as module name.
    2. In that file we can define any type of components such as functions, variables, classes, objects, etc
    
   - NOTE: 
        1. import statement
        - If import statement is used toimport a module then the components of that module can be accessed by using
        - Syntax:- module_name.Component_Name
        - ex:-
            - from mylib import circle
            - a = circle()
            - a.setradius(5)
            - a.area()
   - NOTE:
        2. from import statement
        - If from import statement is used to import an components of the mokdule then components of that module can be accessed by using
        - syntax:- component_name
        - ex:- a = circle(), b=rect()
        - we can use * to import all the componentsfrom a module.
        - syntax:- from module_name import *
     - NOTE:  
        - If mdules or cmponents have lenghty names then we can use some shortnames for them
        - syntax:- Alias_module_name.Component_Name
                   Alias_Component_Name.

# 01/10/2021

### Strings

- string object are automaticallly created when we enclose contents in single quote(' '), double quote(" "), and triple(""" """)
- for example:

In [18]:
s1='amit jain'
s1

'amit jain'

In [19]:
s2 = "amit jain"
s2

'amit jain'

In [20]:
s3 = """ This is the paragraph.  it is made up of multiple lines and statements"""
s3

' This is the paragraph.  it is made up of multiple lines and statements'

#### NOTE: 
1. objects of strings are immutable
2. contents of string object cannot be changed once it is created

#####  Methods of class string
- upper() 
    - returns a string converted to uppercase
    - for ex:
        - a= "ccit"
        -print(a.upper())      => CCIT
- lower()
    - returns the string converted to lowercase
    - for ex:
        - a="CCit"
        - print(a.lower())       => ccit
- title()
    - returns all words begin with upperase and the rest are in lowercase.
    - for ex:
        - a="adi kalam"
        - print(a.title())  => Adi Kalam
- capitalize()
    - capitalize first letter of string
    - for ex:
        - a="adi kalam"
        - print(a.capitalize()) => Adi kala
- swapcase()
    - inverts case for all letters in string.
    - for ex:
        - a="ccIT"
        - print(a.swapcase()) => CCit
- is alpha()
    - return true if all charaters are alphabates else false.
    - for ex:

In [21]:
a = "Ccit"
a.isalpha()

True

In [22]:
b = "12ka4"
b.isalpha()

False

- isdigit()
    - returns true if string contains only digits otherwise false.
    - for ex:

In [23]:
a="1234"
a.isdigit()

True

In [24]:
b="1234a"
b.isdigit()

False

- islower()
    - check all the alphates are in lower case or not
    - for ex:

In [25]:
a="CCit"
a.islower()

False

In [26]:
a="ak47"
a.islower()

True

- isupper()
    - check all the alphates are in upper case or not
    - for ex:

In [27]:
a="ccIT"
a.isupper()

False

In [28]:
a="AK47"
a.isupper()

True

- isdigit()
    - return true if string contains

In [29]:
a="12ak"
a.isdigit()

False

In [30]:
b="123654"
b.isdigit()

True

- isspace()
    - returns true if string contains only white space
    - for ex:

In [31]:
a="ccit amt"
a.isspace()

False

In [32]:
a=" "
a.isspace()

True

- isalnum()
    - returns true if all charaters are alphanumericals.
    - for ex:

In [34]:
a="CCIT amt"
a.isalnum()

False

In [35]:
a="AK47"
a.isalnum()

True

- lstrip([chars])
    - removes all leading whitespace/chars in strings from left
- rstrip([chars])
    - removes all leading whitespace/chars in strings from right
- strip([chars])
    - perform both lstrip() and rstrip() on string
    
- for ex:

In [36]:
a="ccitAmravati"
a.lstrip("cati")

'Amravati'

In [37]:
b="ccitamravati"
b.lstrip("cati")

'mravati'

In [38]:
a.rstrip("avti")

'ccitAmr'

In [39]:
b.rstrip("ccati")

'ccitamrav'

In [40]:
b.rstrip("ccavti")

'ccitamr'

In [41]:
a.strip("ci")

'tAmravat'

In [42]:
b.strip("ci")

'tamravat'

- lstrip([ch])
- rstrip([ch])
- strip([ch])

##### ljust(width[,fill_char])
- returns a space / char-padded string with the original string left-justified to a total of width column.

In [1]:
a="CCIT"
b=a.ljust(11,"x")
b

'CCITxxxxxxx'

##### rjust(width[,fill_char])
- returns a space / char-padded string with the original string right-justified to a total of width column.

In [2]:
a="CCIT"
b=a.rjust(11,"x")
b

'xxxxxxxCCIT'

##### center(width[,fill_char])
- returns a space / char-padded string with the original string centered to a total width column

In [3]:
a="CCIT"
b=a.center(11,"x")
b

'xxxxCCITxxx'

In [4]:
a="CCIT"
b=a.center(10,"x")
b

'xxxCCITxxx'

##### replace(old,new[,max])
- replaces all occurances of all in string with new or at most max occurance if max given

In [5]:
a="ccit amravati"
x=a.replace("a","zzzz")
x

'ccit zzzzmrzzzzvzzzzti'

In [6]:
a="ccit amravati"
x=a.replace("a","zzzz",2)
x

'ccit zzzzmrzzzzvati'

##### count(pattern,beg=0,end=len(string))

- counts how many times pattern occurs in string if starting index brg and ending index end are given

In [7]:
a="mohanmohan mohanlal motwani"
c1=a.count("mo")
print(c1)

4

In [8]:
c2=a.count("mo",0,10)
print(c2)

2

##### endswith(suffix,beg=0,end=len(string))

In [9]:
a="mohanmohan mohanlal motwani"
c1=a.endswith("mo")
print(c1)

False

In [10]:
c2=a.endswith("an",0,5)
print(c2)

True

##### startswith(prefix,beg=0,end=len(string))

In [11]:
a="mohanmohan mohanlal motwani"
c1=a.startswith("mo")
print(c1)

True

In [12]:
c2=a.startswith("an",0,5)
print(c2)

False

##### find(str,beg=0,end=len(string))

In [13]:
a="ccit amravati"

In [14]:
b=a.find("am")
b

5

In [15]:
c=a.find("ma",2,6)
c
# not found pattern

-1

In [16]:
d=a.rfind("ra")
d

7

##### index(str,beg=0,end=len(str_ori))
- if not found it gives an error
##### rindex(str,beg=0,end=len(str_ori))

In [17]:
a.index("am")

5

In [18]:
a.index("ma")

ValueError: substring not found

In [ ]:
a.rindex("ra")

In [19]:
a.rindex("ad")

ValueError: substring not found

### 5 oct 2021

###### split(str=" ")
- split string according to delimiter str(space if not provided) and returns list of substrings.

In [20]:
a="CCIT rajapeth amravati"

In [21]:
a.split()

['CCIT', 'rajapeth', 'amravati']

In [22]:
a.split('a')

['CCIT r', 'j', 'peth ', 'mr', 'v', 'ti']

###### splitlines()
- splits at all(or num) NEWLINEs and returns a list of each line with NEWLINEs removed.

In [23]:
a="""CCIT
Rajapeth
Amravati"""

In [24]:
a

'CCIT\nRajapeth\nAmravati'

In [25]:
a.splitlines()

['CCIT', 'Rajapeth', 'Amravati']

###### join(collection)
- merges the string elements in collection into a string with separator string.

In [26]:
lst=["ram","shyam","gopal","raj"]

In [27]:
sep=","

In [28]:
sep.join(lst)

'ram,shyam,gopal,raj'

In [29]:
lst1=["22","02","2001"]

In [30]:
sep="-"

In [31]:
sep.join(lst1)

'22-02-2001'

###### format(val1,val2,...)
- to insert values into formatted string

In [32]:
a=5
b=10
s="values are {} and {}"
x=s.format(a,b)
print(x)

values are 5 and 10

In [33]:
print("values are {} and {}".format(a,b))

values are 5 and 10

In [34]:
print("values are {} and {}".format(5,10))

values are 5 and 10

#### string operators

In [35]:
a="hello"
b="bro"

###### + concatenation
- adds values on either side of the operator

In [36]:
a+b

'hellobro'

###### * repatation
- creates new sting, concanating multiple copies of the same string

In [37]:
a*3

'hellohellohello'

##### [Index]
- slice: given the character from the the given index

In [38]:
a="hello"
a[1]

'e'

###### [start_index : endi_ndex : step]
- range slice: given th charactors from the given range

In [39]:
a[1:4]

'ell'

In [40]:
a[1:]

'ello'

In [41]:
a[:4]

'hell'

In [42]:
a[::2]

'hlo'

In [43]:
a[::-1]

'olleh'

In [44]:
# wap to count total number of words in a string "amravati is smart city"
a="amravati is smart city"
words=a.count(" ") + 1
print("words are", words)

words are 4

In [45]:
"amravati is smart city".count(" ")+1

4

In [46]:
# count total numbers of vowels in a given string "amravati is smart city"
data="amravati is smart city"
vstr="AEIOUaeiou"
c=0
for x in data:
    if vstr.find(x)>0: # by string method
        c=c+1
else:
    print(c)

7

In [47]:
# count total numbers of vowels in a given string "amravati is smart city"
data="Amravati is smart city"
vstr="AEIOUaeiou"
c=0
for x in data:
    if x in vstr:
        c=c+1
else:
    print(c)

7

#  6-10 
- mssed

# 7-10
- missed

#  8/10/2021

#### list.sort([reverse=False],[Key=None])

In [48]:
lst=['ram','ganpat','shyam','gopal','raj','mona']

In [49]:
lst.sort()
print(lst)

['ganpat', 'gopal', 'mona', 'raj', 'ram', 'shyam']

In [50]:
lst.sort(reverse=True)
print(lst)

['shyam', 'ram', 'raj', 'mona', 'gopal', 'ganpat']

In [51]:
lst.sort(key=len)
print(lst)

['ram', 'raj', 'mona', 'shyam', 'gopal', 'ganpat']

###### programs

In [52]:
#wap to sort names according to from 2nd letter in it. i.e. ignoring 1st letter
lst=['ram','ganpat','shyam','gopal','raj','mona']
lst.sort()
print("With 1st letter: ",lst)

def cmp(val):
    return val[1:]

lst.sort(key=cmp)
print("By 2nd letter: ",lst)

With 1st letter:  ['ganpat', 'gopal', 'mona', 'raj', 'ram', 'shyam']
By 2nd letter:  ['raj', 'ram', 'ganpat', 'shyam', 'mona', 'gopal']

In [53]:
#wap to sort list according to last name

lst=["Gopal Jain","Amit R. Pandey","Raj M. Joshi","Mohan Mantri","Madan Agrawal"]

lst.sort()
print("With 1st Name: ",lst)

def cmp(val):
    arr=val.split()
    return arr[-1]

lst.sort(key=cmp)
print("By Last NAme: ",lst)

With 1st Name:  ['Amit R. Pandey', 'Gopal Jain', 'Madan Agrawal', 'Mohan Mantri', 'Raj M. Joshi']
By Last NAme:  ['Madan Agrawal', 'Gopal Jain', 'Raj M. Joshi', 'Mohan Mantri', 'Amit R. Pandey']

In [54]:
#wap to sort list according to mail address

lst=["Gopal@gmail.com","AmitR.@yahoo.com","RajM.@sipnaengg.ac.in","Mohan@gmail.com","Madan@ccit.ac.in"]

lst.sort()
print("Without mail address: ",lst)

def cmp(val):
    arr=val.split('@')
    return arr[-1]

lst.sort(key=cmp)
print("By Mail Adderss: ",lst)

Without mail address:  ['AmitR.@yahoo.com', 'Gopal@gmail.com', 'Madan@ccit.ac.in', 'Mohan@gmail.com', 'RajM.@sipnaengg.ac.in']
By Mail Adderss:  ['Madan@ccit.ac.in', 'Gopal@gmail.com', 'Mohan@gmail.com', 'RajM.@sipnaengg.ac.in', 'AmitR.@yahoo.com']

In [55]:
#wap to sort list according to sum of digits

lst = [1201,61,234,10002,55]

lst.sort()
print("Without sum of its digits:",lst)

def cmp(val):
    s=0
    while val>0:
        d=val%10
        s = s + d
        val = val // 10
    return s

lst.sort(key=cmp)
print("With sum of its digits:",lst)

Without sum of its digits: [55, 61, 234, 1201, 10002]
With sum of its digits: [10002, 1201, 61, 234, 55]

In [56]:
# Wap to sort list according to last name
# if last name is same then sort it according to first name

lst = ['seeta pandey','amit joshi','gopal pandey','raj joshi','chetan joshi']

def cmp(val):
    arr = val.split()
    return arr[1] + arr[0]

lst.sort(key = cmp)
print(lst)

['amit joshi', 'chetan joshi', 'raj joshi', 'gopal pandey', 'seeta pandey']

<b style="margin-left:800px;font-size:20px;color:white;background-color:black;"> 11/10/2021</b>

##### Nesting of list
- If required a list can contains items of type list as well as other collection type in it.

In [57]:
a = [1,3,5]
b = [2,7,6,9]
c = [a,b]
print(c)

[[1, 3, 5], [2, 7, 6, 9]]

In [58]:
c = [[1,3,5],[2,7,6,9]]
print(c)

[[1, 3, 5], [2, 7, 6, 9]]

In [59]:
# wap to find sum of items in nested list
nlst = [[1,3,5],[2,7,6,9]]

s=0
for x in nlst:
    s=s+sum(x)
else:
    print(s)

33

In [60]:
# wap to find sum of items in nested list
nlst = [[1,3,5],[2,7,6,9]]

s=0
for x in nlst:
    for y in x:
        s = s + y
else:
    print(s)

33

In [61]:
# wap to find sum of each list in nested list

nlst = [[1,3,5],[2,7,6,9]]
for x in nlst:
    print(sum(x))

9
24

In [62]:
# wap to find sum of each list in nested list

nlst = [[1,3,5],[2,7,6,9]]
for x in nlst:
    s = 0
    for y in x:
        s=s+y
    else:
        print(s)

9
24

##### List membership test/in operator
- we can test if an item exists in a list or not, using the operator in.
- syntax
    - <b style="color:red;font-size:20px;">val in list</b>
- it will return true if value is in list

In [63]:
my_list = ['a','e','i','o','u']
print('e' in my_list)
print('x' in my_list)
print('a' in my_list)

True
False
True

In [64]:
# wap to count total no of list containing 0 in nested list
c = 0
nlst = [[1,3,5],[2,7,6,9],[0,3,5,1,0],[3,6],[1,2,6,0]]
for x in nlst:
    if 0 in x:
        c=c+1
else:
    print(c)

2

In [65]:
# wap to calculate total sales in a given list

slst = [["jan-2017","Amit",45000],
       ['jan-2017',"Gopal",15000],
       ["feb-2017","Amit",25000]]
s=0
for lst in slst:
    s = s + lst[2]
print("Total sales is",s)

Total sales is 85000

In [66]:
# wap to calculate total sales in a givel list in jan-2017
s=0
for lst in slst:
    if "jan-2017" in lst:
        s = s + lst[2]
print("Total sales in jan-2017",s)

Total sales in jan-2017 60000

In [67]:
#wap to find av of age of person in list
class person:
    def __init__(self,nm,ct,age):
        self.nm=nm
        self.ct=ct
        self.age=age
    def showdata(self):
        print(self.nm,self.ct,self.age)

a=person("Amit","Mumbai",23)
b=person("Amit","Mumbai",24)
c=person("Amit","Mumbai",29)
d=person("Amit","Mumbai",28)
e=person("Amit","Mumbai",25)

lst=[a,b,c,d,e]

s=0
for obj in lst:
    s = s + obj.age
m = s/len(lst)
print("Average age is",m)

Average age is 25.8

In [68]:
#wap to find person with lowest age from person in list

class person:
    def __init__(self,nm,ct,age):
        self.nm=nm
        self.ct=ct
        self.age=age
    def showdata(self):
        print(self.nm,self.ct,self.age)

a=person("Amit","Mumbai",23)
b=person("Amit","Mumbai",24)
c=person("Amit","Mumbai",29)
d=person("Amit","Mumbai",28)
e=person("Amit","Mumbai",25)

lst=[a,b,c,d,e]
lowp=lst[0]
for p in lst:
    if p.age < lowp.age:
        lowp = p
lowp.showdata()

Amit Mumbai 23

<b style="margin-left:800px;font-size:20px;color:white;background-color:black;"> 12/10/2021</b>

 <b><center style="font-size:40px;color:red;">Tuple</center></b>

- It is a data structure which is used to state collection of items.
- Feature:-
    - Tuples are Ordered. i.e. Iths element can be accessed by using index.
    - Tuple can contain Arbitrary Objects. i.e. any type of object.
    - Tuples are immputable i.e.e contents of tuple cannot be changed once it is created.
    - NOTE: If the element is itself a mutable datatype then it's contents can be changed.
    
#### Creating Tuple
- The objects are enclosed within parenthesis and separated by comma(,)
- Syntax:
    - <b style="color:red;font-size:20px;">Tuple_Name = (value1, value2, value3,...) </b>

In [69]:
tp1 = ("apple","banana","cherry")
print(tp1)
print(type(tp1))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [70]:
tp2 = ("Amit Jain",23,"male")
print(tp2)
print(type(tp2))

('Amit Jain', 23, 'male')
<class 'tuple'>

In [71]:
tp3 = (4117,"Amit Jain",["C","C++","Java","Python"])
print(tp3)
print(type(tp3))

(4117, 'Amit Jain', ['C', 'C++', 'Java', 'Python'])
<class 'tuple'>

### Accessing Tuple
- syntax to get value:
    - <b style="color:red;font-size:20px;">Tuple_Name[Index]</b><br>

##### StartIndex
- Indicates begining of subtuple.
- Default is zero.
- Subtuple includes element from start index.

##### StopIndex
- Indicates end of the subtuple.
- Default is end of tuple.
- Subtuple excludes element from stop index.

##### Step
- Indicates next element.
- Default is 1.

In [72]:
tp = ("apple","banana","cherry","mango","grapes")

In [73]:
print(tp[2])

cherry

In [74]:
print(tp[0])

apple

In [75]:
print(tp[-1])

grapes

In [76]:
print(tp[1:3])

('banana', 'cherry')

In [77]:
print(tp[:2])

('apple', 'banana')

In [78]:
print(tp[2:])

('cherry', 'mango', 'grapes')

In [79]:
print(tp[: :2])

('apple', 'cherry', 'grapes')

In [80]:
print(tp[: :-1])

('grapes', 'mango', 'cherry', 'banana', 'apple')

#### Constructor
- it is use to create tuple from a collection.
- Syntax:
    - <b style="color:red;font-size:20px;">Tuple_Name = tuple(collection)</b>

In [81]:
lst = [4117,"Amit Jain","Amravati"]
tp = tuple(lst)
print(tp)

(4117, 'Amit Jain', 'Amravati')

In [82]:
str_x = "AEIOU"
tp = tuple(str_x)
print(tp)

('A', 'E', 'I', 'O', 'U')

#### Methods
1. index(value)
    - It returns the index of the first apperance of an item in a tuple.
    - If not found it will throw an exception value error.

In [83]:
a = (1,2,3,4,5,6,7,8)
print(a.index(2))

1

2. count(value)
    - It returns the number of times an item appers in a tuple.

In [84]:
a = (1,2,3,4,5,6,7,8,5,5,2,6)
print("total number of 2 in the tuple",a.count(2))
print("total number of 5 in the tuple",a.count(5))
print("total number of 6 in the tuple",a.count(6))
print("total number of 1 in the tuple",a.count(1))

total number of 2 in the tuple 2
total number of 5 in the tuple 3
total number of 6 in the tuple 2
total number of 1 in the tuple 1

### Functions for Collections
1. <b>len(Collection)</b>
    - It returns it's length.

In [85]:
a = [1,2,3]
b = (1,2,3,[6,5])
c = {1,2,3}
print(len(a))
print(len(b))
print(len(c))

3
4
3

2. <b>max(collection)</b>
    - It returns the item with the highest value.

In [86]:
a = (1,2,3,4,5,6)
print(max(a))

6

3. <b>min(collection)</b>
    - It returns the item with the lowest value.

In [87]:
a = (1,2,3,4,5,6)
print(min(a))

1

4. <b>sum(collection)</b>
    - This function returns the arithmatic sum of all the items in the collection.
    - <b>NOTE :</b>
        - can't apply this function on a collection with string.

In [88]:
a = (1,2,3,4,5,6)
print(sum(a))

21

5. <b>sorted(collection)</b>
    - This function returns a sorted version of collection as list.
    - The sorting is in ascending order, and it doesn't modify the original collection.

In [89]:
a = [1,4,3]
print(sorted(a))

[1, 3, 4]

In [90]:
b = ("b","a","D","c")
print(sorted(b))

['D', 'a', 'b', 'c']

In [91]:
c = {5,2,3}
print(sorted(c))

[2, 3, 5]

In [93]:
#WAP to read info about 3 persons. Info contains name, city and age. 
#Create tuple object containing this(name,city,age).
#Add this tuple into a list.
#display this list containing three records

lst = []

for x in range(3):
    name = input("Enter Name: ")
    city = input("Enter City: ")
    age = input("Enter age: ")
    tp = (name,city,age)
    lst.append(tp)
print(lst)

Enter Name: Aditya
Enter City: Amravati
Enter age: 19
Enter Name: Alex
Enter City: Nagpure
Enter age: 20
Enter Name: Michel
Enter City: Mumbai
Enter age: 21
[('Aditya', 'Amravati', '19'), ('Alex', 'Nagpure', '20'), ('Michel', 'Mumbai', '21')]

In [94]:
lst = []
for x in range(3):
    tp = tuple(input("Enter name, city and age: ").split())
    lst.append(tp)
print(lst)

Enter name, city and age: Aditya Amravati 19
Enter name, city and age: Alex Nagpure 20
Enter name, city and age: Michel Mumbai 21
[('Aditya', 'Amravati', '19'), ('Alex', 'Nagpure', '20'), ('Michel', 'Mumbai', '21')]

In [95]:
lst = []
for x in range(3):
    lst.append(tuple(input("Enter name, city and age: ").split()))
print(lst)

Enter name, city and age: Aditya Amravati 19
Enter name, city and age: Alex Nagpure 20
Enter name, city and age: Michel Mumbai 21
[('Aditya', 'Amravati', '19'), ('Alex', 'Nagpure', '20'), ('Michel', 'Mumbai', '21')]

# 13/10/2021

 <b><center style="font-size:40px;color:red;">Set</center></b>

- Set is a data structure which is used to store collection of items
### FEATURES
    1. Set are <b>unordered</b> i.e. Its elements cannot be accessed by using index.
    2. Set contain arbitrary objects. i.e. any type of objects.
    3. Sets are <b>Mutable.</b> i.e. contents of set can be changed.
    4. Set are <b>Dynamic.</b> i.e. contents can be added or removed.
    5. Set cannot contain duplicate values. If given then they are ignored.
    6. Set cannot be <b>nested</b>. i.e. Set cannot contain another collection in it.
    7. A python set is similar to mathematical set.
    8. The major advantage of using a set, as opposed to a list, is that it has a highly optimised method for checking whether a specific element is contained in the set.
    9. This is based on a data structure known as a hash table. Its items may appear in any order.
    10. There is no index attached to any element in a python set. So they do not support any indexing or slicing operation.

### CREATING SET
    1. By enclosing values in curly braces.
    2. syntax:
        - variable{value1,value2,...}

In [5]:
Months={"jan","feb","mar"}
print(Months)
print(type(Months))

{'feb', 'jan', 'mar'}
<class 'set'>

- by using constructor
    - syntax:
        - set(collection)

In [6]:
lst=["jan","feb","mar"]
months = set(lst)
print(months)
print(type(months))

{'feb', 'jan', 'mar'}
<class 'set'>

- <b>NOTE :</b>
    - if empty {} are used it will create a dictionary and not a set
    - We use its constructor set() to create empty set.

#### ACCESSING VALUES IN THE SET
- We cannot access individual values in a set.
- But we can get a list of individual elements by looping through the set.

In [7]:
numbers = {1,2,3,4,5,6,7,8,9}
for num in numbers:
    print(num,end="\t")

1	2	3	4	5	6	7	8	9

#### METHODS
- <b>add(value)</b>
    - Adds an element to the set.

In [8]:
fruits={"apple","banana","cherry"}
fruits.add("orange")
print(fruits)

{'banana', 'cherry', 'apple', 'orange'}

- <b>clear()</b>
    - Removes all the elements from the set.
- <b>copy()</b>
    - Returns a copy of the set.

In [9]:
set1 = {'banana', 'cherry', 'apple', 'orange'}
set2 = set1.copy()
set1.clear()
print(set1)
print(set2)

set()
{'orange', 'cherry', 'banana', 'apple'}

In [12]:
a = {7,11,14}
b = a
a.clear()
print(a)
print(b)

set()
set()

- <b>pop()</b>
    - removes a random item from the set.
    - This method returns the removed item.

In [15]:
fruits={"apple","banana","cherry"}
x = fruits.pop()
print(x)
print(fruits)

banana
{'cherry', 'apple'}

- <b>remove(value)</b>
- <b>discard(value)</b>
    - Removes the specified element.

In [16]:
fruits={"apple","banana","cherry"}
fruits.remove("banana")
print(fruits)

{'cherry', 'apple'}

- <b>NOTE :</b>
    - The remove() method will raise an error if the specified item does not exist, and the discard() method will not.

- <b>union(collection)</b>
    - Reurns a set containg the union of sets.

In [17]:
num1 = {1,2,3,4,5}
num2 = [5,6,7,8,9,2,3]
allnum = num1.union(num2)
print(allnum)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

- <b>update(collection)</b>
    - Update the set with the union of this set and others

In [20]:
num1 = {1,2,3,4,5}
num2 = [5,6,7,8,9,2,3]
num1.update(num2)
print(num1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# 14/10/2021

- <b>intersection(collection)</b>
    - returns a set, that is the intersection of two other set.

In [1]:
d1 = {"m","t","w","f"}
d2 = {"t","f","s"}
all_d = d1.intersection(d2)
print(all_d)

{'f', 't'}

- <b>intersection_update(collection)</b>
    - Removes the items in this set that are not present in order, specified set.

In [2]:
d1 = {1,2,3,4,5}
d2 = {4,5,6,7,8,9}
d1.intersection_update(d2)
print(d1)

{4, 5}

- <b>difference(collection)</b>
    - The difference operation on two sets produces a new set containing only the elements from the first set and none from second set.

In [3]:
d1 = {"m","t","w","f"}
d2 = {"t","f","s"}
all_d = d1.difference(d2)
print(all_d)

{'m', 'w'}

- <b>difference_update(collection)</b>
    - Removes the items in this set that are also included in another, specified set.

In [7]:
d1 = {1,2,3,4,5}
d2 = [4,5,6,7,8,9]
d1.difference_update(d2)
print(d1)

{1, 2, 3}

- <b>Union Opertor</b>
    - The union opearation on two sets produces a new set containing all the distinct elements from both the sets.
    - Syntax:
        - <b style="color:red;font-size:20px;">set1 | set2</b>
    - NOTE : 
        - Only sets are allowed.

In [10]:
num1 = {1,2,3,4,5}
num2 = {4,5,6,7,8,9}
#union operator
num_all = num1 | num2

print(num_all)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

- <b>Intersection Opertor</b>
    - The intersection opearation on two sets produces a new set containing all the common elements from both the sets.
    - Syntax:
        - <b style="color:red;font-size:20px;">set1 & set2</b>
    - NOTE : 
        - Only sets are allowed.

In [11]:
num1 = {1,2,3,4,5}
num2 = {4,5,6,7,8,9}
#intersection operator
num_all = num1 & num2

print(num_all)

{4, 5}

- <b>Difference operator</b>
    - The difference operation on two setd produces a new set containing only the elements from the firse set and none from the second set.
    - Syntax :
        - <b style="color:red;font-size:20px;">set1 - set2</b>
    - NOTE : 
        - Only sets are allowed.

In [13]:
num1 = {1,2,3,4,5}
num2 = {4,5,6,7,8,9}
#Difference operator
num_all = num1 - num2

print(num_all)

{1, 2, 3}

- <b>Comparing sets by using Relational Operators</b>
    - We can check if a given set is a subset or superset of another set.
    - We can use operator 
        - <b>< &nbsp;&nbsp;&nbsp;  > &nbsp;&nbsp;&nbsp;  <=  &nbsp;&nbsp;&nbsp; >= &nbsp;&nbsp;&nbsp; != &nbsp;&nbsp;&nbsp; ==</b>
    - The result is True or False depending on the elements present in the sets.

In [18]:
num1 = {1,2,3}
num2 = {1,2,3,4,5,6,7,8,9}

In [19]:
num1 <= num2

True

In [20]:
num1 == num2

False

In [21]:
num1 >= num2

False

In [22]:
num1 != num2

True

In [23]:
num1 < num2

True

In [24]:
num1 > num2

False

# 18/10/2021

 <b><center style="font-size:40px;color:red;">Dictionary</center></b>

- It is collection which can contains multiple values/objects mapped to a key.
- Dictionary is as associative container which permits access based on a key, rather than an index.
### FEATURES
- it is mutable, i.e., its value can be changed.
- it is dynamic i.e. elements can be add or remove at runtime.
- it is ordered i.e. its element can be accessed by using a key.
- it is can be nested i.e. a dictionary can contain another collection.
#### SYNTAX
- dict_name = {key1:value1, kay2:value2,...}
- The pair i.e. key and value is known as item.
- The key must be unique.
- Value can be accessed by key.
- values can be updated while key cannot be change.
- ex:- my_dict = {1:"Alex",2:"Prajwal"}

#### EMPTY DICTIONARY

In [1]:
empty_dictionary={}
print(empty_dictionary)

{}

#### DICTIONARY WITH INTEGER KEYS

In [2]:
int_key_dictionary = {1:"Aditya", 2:"Third Year"}
print(int_key_dictionary)

{1: 'Aditya', 2: 'Third Year'}

#### DICTIONARY WITH STRING KEYS

In [3]:
str_key_dictionary = {"Name":"Aditya", "Age":19}
print(str_key_dictionary)

{'Name': 'Aditya', 'Age': 19}

#### ACCESSING AN ELEMENTS
- They can be accessed by keys.
##### SYNTAX
- dictionary_name[key]

In [4]:
my_dictionary = {"Name":"Amit", "Marks":[50,60,80,90]}
print(my_dictionary["Name"])
print(my_dictionary["Marks"])

Amit
[50, 60, 80, 90]

#### CONSTRUCTOR
- It is used to create a dictionary from anaother dictionary
##### SYNTAX
- dictionary_name = dict(dictionary)

In [5]:
dictionar_1 = {1:"Apple"}
print(dictionar_1)

new_dictionary = dict(dictionar_1)
print(new_dictionary)

{1: 'Apple'}
{1: 'Apple'}

#### ADDING NEW ITEM
- This can be achieved by providing a new key-value pair.
##### SYNTAX
- dictionary_object[new_key] = value

In [6]:
d1 = {"FIRST_NAME":"ADITYA"}
print(d1)
d1["LAST_NAME"]="KALAMBE"
print(d1)

{'FIRST_NAME': 'ADITYA'}
{'FIRST_NAME': 'ADITYA', 'LAST_NAME': 'KALAMBE'}

#### UPDATING DICTIONARY
- updating item
    - This can be achieved by providing a new value to a existing key.
##### SYNTAX
- dictionary_object[existing_key] = new_value

In [7]:
d1 = {"FIRST_NAME":"ADITYA"}
print(d1)
d1["FIRST_NAME"]="ALEX"
print(d1)

{'FIRST_NAME': 'ADITYA'}
{'FIRST_NAME': 'ALEX'}

#### DELETING ITEM
- This can be achieved by del keyword.
##### SYNTAX
- del dictionary_object[existing_key]

In [8]:
d1 = {"FIRST_NAME":"ADITYA"}
print(d1)
del d1["FIRST_NAME"]
print(d1)

{'FIRST_NAME': 'ADITYA'}
{}

### METHODS
#### clear()
- Removes all elements of a dictionary.
##### SYNTAX
- dict_name.clear()

In [9]:
d1 = {"FIRST_NAME":"ADITYA",2:"ALEX"}
print(d1)
d1.clear()
print(d1)

{'FIRST_NAME': 'ADITYA', 2: 'ALEX'}
{}

#### copy()
- Returns a copy of a dictionary.

In [11]:
d1 = {"FIRST_NAME":"ADITYA"}
print(d1)
b = d1.copy()
print(b)

{'FIRST_NAME': 'ADITYA'}
{'FIRST_NAME': 'ADITYA'}

#### get(key, default=None)
- return value of key or default if key is not present in the dictionary

In [12]:
a = {"name":"amit"}

print(a.get("city"))

print(a.get("city", "amravati"))

None
amravati

####  update(dictionary)
- add elements of a dictionary.

In [13]:
d1 = {"Name":"Amit"}
d2 = {"Sex":"Male"}

d1.update(d2)

print(d1)

{'Name': 'Amit', 'Sex': 'Male'}

# 19/10/2021

#### values()
- return list of dictionary values.

#### keys()
- returns list of dictionary keys.

#### items()
- returns list of (key, value) tuple pair.

In [2]:
a = {"name":"amit jain", "age":45,"city":"amravati"}
print(a.keys(),end="\n\n")

print(a.values(),end="\n\n")

print(a.items(),end="\n\n")

dict_keys(['name', 'age', 'city'])

dict_values(['amit jain', 45, 'amravati'])

dict_items([('name', 'amit jain'), ('age', 45), ('city', 'amravati')])

### PROCESSING DICTIONARY
- Items of dictionary can be processed byn using for loop.

In [4]:
my_dict = {"name":"amit jain", "age":45,"city":"amravati"}
for key in my_dict:
    print(key,my_dict[key])

name amit jain
age 45
city amravati

In [7]:
my_dict = {"name":"amit jain", "age":45,"city":"amravati"}
for key,value in my_dict.items():
    print(key,value)

name amit jain
age 45
city amravati

In [16]:
# WAP to merge two dictionary collection to create a new collection.

jan = {"Amit":25000,"Gopal":75000,"Mohan":30000}
feb = {"Raj":50000,"Rohan":40000,"Amit":50000,"Mohan":20000}
result = dict(jan)

for key,val in feb.items():
    if result.get(key) == None:
        result[key] = val
    else:
        old_value = result.get(key)
        result[key] = old_value + val
        
print(jan,end="\n\n")
print(feb,end="\n\n")
print(result,end="\n\n")

{'Amit': 25000, 'Gopal': 75000, 'Mohan': 30000}

{'Raj': 50000, 'Rohan': 40000, 'Amit': 50000, 'Mohan': 20000}

{'Amit': 75000, 'Gopal': 75000, 'Mohan': 50000, 'Raj': 50000, 'Rohan': 40000}

In [20]:
# WAP to merge two dictonary which will contain only common items with their total sales.

jan = {"Amit":25000,"Gopal":75000,"Mohan":30000}
feb = {"Raj":50000,"Rohan":40000,"Amit":50000,"Mohan":20000}
result = {}

for key_0,val_0 in jan.items():
    for key_1,val_1 in feb.items():
        if key_0 == key_1:
            result[key_1] = val_0 + val_1

print(result)

{'Amit': 75000, 'Mohan': 50000}

In [22]:
jan = {"Amit":25000,"Gopal":75000,"Mohan":30000}
feb = {"Raj":50000,"Rohan":40000,"Amit":50000,"Mohan":20000}
result = {}

for key1,val1 in jan.items():
    if feb.get(key1) != None:
        val2 = feb.get(key1)
        result[key1] = val1 + val2
print(result)

{'Amit': 75000, 'Mohan': 50000}

# 21/10/2021

# MAP FUNCTION
1. it is used to apply a given function to each item of an iterable(i.e. Collection for ex: list,tuple , etc.)
2. syntax: map(function, iterable,..)
    - Where:
        1. function
            - map() passes each item of the iterable to this transform function.
        2. iterable
            - iterable which is to be mapped.
        3. NOTE
            - you can pass more than one iterable on the map() function.
3. It returns a Map iterator object of the results.
4. Iterator object is a speciqal type of object to which we can apply a for loop to retrieve values from it.(Just like a range function returns an iterator object.)
5. We can pass this iterator object s argument to functions like list(), set(), ...

In [20]:
# WAP to find length of each name in the list

names = ["amit", "raj", "mohan"]
map_obj = map(len , names)
print(map_obj)

for item in map_obj:
    print(item)

nm = list(map_obj)
print(nm)

<map object at 0x00000230EEF0EF40>
4
3
5
[]

In [23]:
# WAP to convert each names n a list to uppercase
def my_fun(nm):
    return nm.upper()

names = ["amit", "raj", "mohan"]
map_obj = map(my_fun , names) # Upper is method and hence we create a new function here

for item in map_obj:
    print(item)

AMIT
RAJ
MOHAN

In [24]:
# WAP to combine first and last name from 2 different list

def my_fun(val1,val2):
    return val1+" "+val2

f_names = ['amit','raj','mohan','radha']
l_names = ['jain','rathi','joshi']

f_l_names = map(my_fun, f_names, l_names)

for item in f_l_names:
    print(item)

amit jain
raj rathi
mohan joshi

# 22/10/2021

In [1]:
# WAP to read multiple numbers and find their sum

numbers = map(int, input("Enter Numbers: ").split())
s=0
for x in numbers:
    s+=x
else:
    print("Sum is ",s)

Enter Numbers: 1 2 3 4 5 6 7 8 9 10
Sum is  55

In [10]:
# WAP to read multiple numbers and find factorial of all numbers in a list

def fact(n):
    if n==0:
        return 1
    else:
        return fact(n-1) * n
    
numbers = list( map(int, input("Enter numbers: ").split() ) )
print("List of Numbers are: ",numbers)

factorial_numbers = list(map(fact, numbers))
print("List of Factorial of Numbers are: ",factorial_numbers)

Enter numbers: 1 2 3 4 5 6 7 8 9 10
List of Numbers are:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List of Factorial of Numbers are:  [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [12]:
# WAP to read numbers and generate a collection of words even or odd from a given input

def myfun(num):
    if num %2 == 0:
        return "EVEN"
    else:
        return "ODD"

numbers = list( map(int, input("Enter the numbers: ").split() ) )
print("List of Numbers are: ",numbers)

collection_of_words = list( map(myfun, numbers) )
print(collection_of_words)

Enter the numbers: 1 2 3 4 5 6 7 8 9 10
List of Numbers are:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN']

# 25/10/2021

# EXCEPTION HANDLING

1. It is a technique of handling runtime errors in strtctured way.
2. An exception is an error that happens during execution of a program.
3. When a error occurs, python generates an exception type of object representing that error and throws it.
4. Our program must catch that exception and handle the error accordingly, which avoids your program from being crash.
5. In case if exception is not handled, then the code is not executed further and hence execution stops.

## COMMON EXCEPTIONS
- Python throws different type of Exception Object on different error.
- Some common exception are :
1. NameError
    - This occcurs when a variable is not defined, it hasn't been assigned

In [10]:
a = 2
c = a + d

NameError: name 'd' is not defined

2. TypeError
    - An operation or function is applied to the wrong type.

In [8]:
a = "10"
b = 2
c = a/b

TypeError: unsupported operand type(s) for /: 'str' and 'int'

3. ValueError
    - This occurs an argument that has the right type but an inappropriate value.

In [7]:
import math
a = -3.2
print(math.sqrt(a))

ValueError: math domain error

4. ZeroDivisionEror
    - occurs when a number is divided by zero

In [4]:
a = 5
b = 0
c = a/b

ZeroDivisionError: division by zero

5. IOError
    - It occurs when input output operartion falis.

In [5]:
file = open("Demo.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'Demo.txt'

6. IndexError
    - An IndexError is raised when a sequence is referenced which is out of range.

In [6]:
arr = ["ram","shyam","gopal"]
print(arr[5])

IndexError: list index out of range

7. Exception
    - It is a base type for all exception.
    - It is used to handle all type of exception.
    - We can derieve our exception classes from with class.

### Python provides special keywords for exception handling.

#### SYNTAX:

try:
    statement
    ---------
except exceptionX as e:
    statement
    ---------
except exceptionY as e:
    statement
    ---------
.
.
.
else:
    statement
    ---------
finally:
    statement
    ---------

1. try:
    - The code where run time error may occur must be enclosed in the try block.
2. except:
    - Except statement is used to catch Exception.
    - In case that exception is occured, the corresponding statement will be executed.
    - There can be multiple except statement to catch different Exception3
3. else:
    - This code will be executed if no exception occurs in the try block.
4. finally:
    - This code will be executed, whether exception occurs or not.
- NOTE: except, else, finally is optional

In [11]:
try:
    print("START")
    z = 4/2
    print(z)
    
except ZeroDivisionError:
    print("Divided by Zero")
    
except ValueError:
    print("Value Error")
    
else:
    print("No Error")
    
finally:
    print("Always Executed...")

START
2.0
No Error
Always Executed...

In [12]:
try:
    print("START")
    z = 4/0
    print(z)
    
except ZeroDivisionError:
    print("Divided by Zero")
    
except ValueError:
    print("Value Error")
    
else:
    print("No Error")
    
finally:
    print("Always Executed...")

START
Divided by Zero
Always Executed...

In [16]:
try:
    print("START")
    z = 4/d
    print(z)
    
except ZeroDivisionError:
    print("Divided by Zero")
    
except ValueError:
    print("Value Error")

except NameError:
    print("Name Error")
    
else:
    print("No Error")
    
finally:
    print("Always Executed...")

START
Name Error
Always Executed...

## EXCEPTION PROPOGATION
1. If some run time error is occured in a function and in that function that exception is not handled then that exception is thrown in the function from where that function is called.
2. This is called Exception Propogation.

In [17]:
def test():
    
    print("open file")
    z = 4/0
    print(z)
    
    print("file close")
    
try:
    test()
except Exception as e:
    print(e)
else:
    print("no error")
finally:
    print("Always Executed...")

open file
division by zero
Always Executed...

In [18]:
def test():
    try:
        print("open file")
        z = 4/0
        print(z)
    finally:
        print("file close")
    
try:
    test()
except Exception as e:
    print(e)
else:
    print("no error")
finally:
    print("Always Executed...")

open file
file close
division by zero
Always Executed...

# 26/10/2021

### RAISE STATEMENT
1. An exception can be raised by using the raise statement.
#### SYNTAX:
    - raised ExceptionObject

In [3]:
try:
    age = int(input("Enter age: "))
    if age<0 :
        raise ValueError
    else:
        print("The age is valid")

except ValueError:
    print("The age is not valid")

Enter age: 16
The age is valid

### CUSTOM EXCEPTION
1. We can create our own exceptions that can be raised from the program and caught using the except caluse.
2. The custom exception class must be created from base class Exception.

In [5]:
class AgeError(Exception):
    pass

try:
    age = int(input("Enter age: "))
    if age<0 :
        raise AgeError()
    else:
        print("The age is valid")

except AgeError:
    print("The age is not valid")

Enter age: 15
The age is valid

## LAMBDA FUNCTION
1. A lambda function is a small single line anonymous function.
#### SYNTAX:
    > lambda arguments : expression

In [6]:
area = lambda r : 3.14*r*r
print(area(5))

78.5

2. A labda fuction can take any number of arguments, but can have only one expression.
3. The expression is executed and the result is returned.

In [10]:
cube = lambda a : a ** 3
print(cube(5))

125

In [11]:
test = lambda a,b : a * b
print(test(5,6))

30

### LAMBDA EXPRESSION WITH MAP
1. First argument of map is transformed function.
2. So we can pass lambda expression as first argument instead of function.

In [13]:
# WAP to find cube of each number in list

nlst = [4, 3, 5]
cube = map(lambda x : x ** 3, nlst)
print(list(cube))

[64, 27, 125]

In [18]:
# WAP to combine first name and last name from 2 different list

flst = ["Amit", "Raj", "Mohan", "Radha"]
llst = ["Jain", "Rathi", "Joshi"]

full_name = map(lambda x,y : x+" "+y, flst, llst)

print(full_name)
print(list(full_name))

<map object at 0x000001A3CDDD3340>
['Amit Jain', 'Raj Rathi', 'Mohan Joshi']

# ITERABLES AND ITERATORS
1. Python built in containers are i.e. list, tuple, string etc. are iterables.
2. Iterator is an object which will return data, one element at a time from an iterable object.
3. An object is called iterable if we can get an iterator from it.
4. An iterator can be created by using function.
    - iter( iterable )
        - It return an iterator type of object
5. Next item from iterable can be get by using function:
    - next( iterator )
        - It return next value from iterable.
        - This function will throw an exception StopIteration when it reaches end of the iterables.

In [20]:
lst = ["Ram", "Shyam", "Gopal"]
p = iter(lst)
print( next(p) )
print( next(p) )
print( next(p) )
print( next(p) )

Ram
Shyam
Gopal

StopIteration:

# 27/10/2021

1. Range function returns an iterable type of object
2. An <b>iterator</b> is an object which will return data, one element at a time from an <b>iterable</b> object.
3. An object is called <b>iterable</b> if we can get an <b>iterator</b> fom it.

In [17]:
r_obj = range(1,4)

p = iter(r_obj)

print(next(p))
print(next(p))
print(next(p))
print(next(p))

1
2
3

StopIteration:

In [18]:
r_obj = range(1,4)

for x in r_obj:
    print(x)

1
2
3

# CREATING AN ITERABLE CLASS
1. To create an class as an iterable you have to implement the methods __ iter __() and __ next __()
- __ iter __()
    1. This method is similar to constructor.
    2. It is used for initilization.
    3. but must always return the iterable object itself.
    
- __ next __()
    1. This method allows us to do operations.
    2. It must return the next item in the sequence.

In [1]:
# design an iterable class myctr which will return values from 1 to ...

class myctr:
    def __iter__(self):
        self.counter = 0
        return self
    def __next__(self):
        self.counter = self.counter + 1
        return self.counter
    
a = myctr()
p = iter(a)
print(next(p))
print(next(p))
print(next(p))
print(next(p))
print(next(p))

1
2
3
4
5

### StopIteration exception
1. To prevent the iteration to go on forever, we can use the raise StopIteration statement.
2. In the __ next__() method, we can add a terminating condition to raise an error if the iteration is done a specified number of times.
    - SYNTAX:
        > if condition:
        >>raise StopIteration

In [22]:
#design a iterable class MyNumbers to generate first five numbers i.e. 1,2,3,4,5
class MyNumbers:
    def __iter__(self):
        self.counter = 0
        return self
    def __next__(self):
        if self.counter >= 5:
            raise StopIteration
        else:
            self.counter = self.counter + 1
            return self.counter
            
obj = MyNumbers()
my_iter = iter(obj)

for x in my_iter:
    print(x)

1
2
3
4
5

# 28/10/2021

In [5]:
# design an iterable class MyNumbers to generate n numbers i.e. 1,2,3,4,...,n

class MyNumbers:
    def __init__(self,n):
        self.n_th_number = n
        
    def __iter__(self):
        self.counter = 0
        return self
    
    def __next__(self):
        if self.counter >= self.n_th_number :
            raise StopIteration
        else:
            self.counter+=1
            return self.counter
        
obj = MyNumbers(6)
my_iter = iter(obj)

for x in my_iter:
    print(x)

1
2
3
4
5
6

In [11]:
# design an iterable class my range which will generate all numbers from min val to max value

class MyRange:
    def __init__(self,min,max):
        self.min=min
        self.max=max
    def __iter__(self):
        self.counter = self.min - 1
        return self
    def __next__(self):
        if self.counter >=  self.max:
            raise StopIteration
        else:
            self.counter = self.counter + 1
            return self.counter
        
obj = MyRange(5,19)
my_iter = iter(obj)

for x in my_iter:
    print(x)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [17]:
# design an iterable class myrange which will generate all numbers from min val to max value with step

class MyRange:
    def __init__(self,min,max,step=1):
        self.min=min
        self.max=max
        self.step=step
    def __iter__(self):
        self.counter = self.min - self.step
        return self
    def __next__(self):
        if self.counter >=  self.max:
            raise StopIteration
        else:
            self.counter = self.counter + self.step
            return self.counter
        
obj = MyRange(5,19,2)
my_iter = iter(obj)

for x in my_iter:
    print(x)

5
7
9
11
13
15
17
19

### GENERATING COLLECTION FROM ITERABLE

1. A ieterable can be used to generate values for collection objects.
2. This can be achieved by using constructors of list, tuples, set.

In [18]:
r_obj = range(1,5)
lst = list(r_obj)
print(lst)

lst1 = list(range(1,5))
print(lst1)

[1, 2, 3, 4]
[1, 2, 3, 4]

### GENERATORS

1. An object is called iterable if we can access data one element at a time from it.
2. Iterator is an object which will return data, one element at a time from an iterable object.
3. Generator are functions that allow you to declare a function that behaves like an iterable.
4. They allow programmers to make an iterable in a fast, easy, and clean way.
5. Simply speaking, a generator is a function that returns an object(iterator) which we can iterate over(one value at a time).

#### SYNTAX:

def myctr():
    ctr = 0
    whle True:
        ctr = ctr + 1
        yeild ctr

#### yeild STATEMENT

1. To design a Generator function our function must return values by using yeild statement.
2. Syntax: yeild value
3. Due to yeild statement the value is returned but function is not terminated.
4. The state of the function is saved.
5. When we call this function it returned an iterator type of object.
6. The next time when we try to get next value by calling function next(iterator), execution continues from where it left off.
7. At the end of function it throws an Exception StopIteration automatically.

In [1]:
def test():
    yeild 1
    yeild 2
    yeild 3
    
p = test()
print(next(p))
print(next(p))
print(next(p))
print(next(p))

SyntaxError: invalid syntax (Temp/ipykernel_5096/2942418874.py, line 2)

# 05/01/2021

# datetime module

- datetime module provides us different classes used to perform operations on date and time object.
- ex:

import datetime as dttm
x = dttm.datetime.now()
print(x)

In [2]:
from datetime import *
x = datetime.now()
print(x)

2022-01-05 17:11:15.134843

### class date
- an object of this type represents a date.
#### Constructors
- date(year, month, day)
    - Creates a date from given info

In [3]:
from datetime import *
dt=date(2020,12,27)
print(dt)

2020-12-27

### Class Methods
- today()
    - It returns current date.

In [4]:
import datetime as dttm
dt=dttm.date.today()
print(dt)

2022-01-05

### Properties / public data members
- year
- month
- day
    - Retruns year/month/day from date object.

In [5]:
from datetime import *
dt=date(2020,12,27)
print(dt.day)
print(dt.month)
print(dt.year)

27
12
2020

### Methods
1. replace(year, month, day)
    - Return a date by replacing keyword arguments values.

In [6]:
from datetime import *
dt=date(2020,12,27)
print(dt)

2020-12-27

In [7]:
dt=dt.replace(year=2022,month=3)
print(dt)

2022-03-27

2. weekday()
    - Return the day of the week, where Monday is 0 and Sunday is 6. 
3. isoweekday()
    - Return the day of the week, where Monday is 1 and Sunday is 7.

In [8]:
from datetime import *
dt=date(2020,12,27)
print(dt.weekday())

6

In [9]:
print(dt.isoweekday())

7

### class time
- A time object represents a time of day.
#### Constructor
- time(hour=0, minute=0, second=0, microsecond=0)
    - Creates a time object

In [10]:
import datetime as dttm
tm=dttm.time()
print(tm)

00:00:00

In [11]:
tm=dttm.time(15,30)
print(tm)

15:30:00

### Instance attributes/properties (read-only):
- hour
- minute
- second
- microsecond
    - returns information about different parts of time object.

In [12]:
import datetime as dttm
tm=dttm.time(15,30)

In [13]:
print(tm.hour)

15

In [14]:
print(tm.minute)

30

In [15]:
print(tm.second)

0

## class datetime
- It contains all the information of date and time . 
### Constructor
- datetime(year, month, day, hr=0, min=0, sec=0, microsec=0)
    - Will create a datetime object from given information.

In [16]:
import datetime as dttm
dt=dttm.datetime(2020,12,25,2,30)
print(dt)

2020-12-25 02:30:00

#### Class Methods
1. today()
2. now()
    - Returns the current local datetime

In [17]:
import datetime as dttm
dt=dttm.datetime.today()
print(dt)

2022-01-05 17:43:14.278270

In [18]:
dt=dttm.datetime.now()
print(dt)

2022-01-05 17:43:24.357485

3. combine(date, time)
    - Return a new datetime object from given date and time.

In [19]:
import datetime as dttm
d=dttm.date(2020,12,25)
print(d)

2020-12-25

In [20]:
t=dttm.time(5,45)
print(t)

05:45:00

In [21]:
dt=dttm.datetime.combine(d,t)
print(dt)

2020-12-25 05:45:00

### Properties / public attributes
- year
- month
- day
- hour
- minute
- second
- microsecond
    - Returns different parts of datetime objects information

In [22]:
import datetime as dttm
dt=dttm.datetime(2020,12,25,5,45)
print(dt.year)

2020

In [23]:
print(dt.hour)

5

In [24]:
print(dt.minute)

45

In [25]:
print(dt.second)

0

In [26]:
print(dt.microsecond)

0

# 06/01/2022

## Formating datetime, date & time objects
1. strftime(format) method
    - to create a string representing the date time.
    - Available for date, datetime, and time objects.

In [1]:
import datetime as dttm
dt=dttm.datetime(2020,12,25,5,45)
print(dt.strftime("%c"))

Fri Dec 25 05:45:00 2020

In [2]:
print(dt.strftime("%d-%m-%Y"))

25-12-2020

### Format specifiers
1. %a
    - Weekday abbreviated. Sun, Mon, . .
2. %A
    - Weekday full name. Sunday, Monday, . . 
3. %w
    - Weekday in digit. 0 – Sunday 1-Monday.
4. %d
    - Day of the month. 01, 02, 
5. %b
    - Month abbreviated . Jan, Feb, …, Dec 
6. %B
    - Month full . January, February, . .
7. %m
    - Month in digit. 01, 02, …, 12
8. %j
    - Day of the year . 001, 002, …, 366
9. %y
    - Year without century . 00, 01
10. %Y
    - Year with century . 2013, 2014, . .
11. %H
    - Hour (24-hour clock). 00, 01, …, 23
12. %I
    - Hour (12-hour clock). 01, 02, …, 12
13. %p
    - AM or PM.
14. %M
    - Minute . 00, 01, …, 59
15. %S
    - Second . 00, 01, …, 59
16. %f
    - Microsecond . 000000, 000001 . .999999
17. %c
    - long date time . For ex : Tue Aug 16 21:30:00 1988
18. %x
    - short date . For ex : 08/16/88 
19. %X
    - short time . For ex : 21:30:00

In [7]:
from datetime import *
dt = datetime.now()

In [6]:
dt

datetime.datetime(2022, 1, 6, 17, 25, 27, 947327)

In [8]:
print(dt)

2022-01-06 17:25:57.682476

In [10]:
print(dt.strftime("%A %d/%m/%y %H:%M:&S %p"))

Thursday 06/01/22 17:25:&S PM

# FILE I/O

- A File is sequence of bytes stored on secondary storage.
- Python provides us a File object to perform i/o operations on file .

### Open function
- This function creates a file object.
- The file object can be used to perform operations on file.
- Syntax : fileobject open(fname [, accessmode])
    - where
        - fame − name of file.
        - accessmode − It indicates the mode in which the file has to be opened, i.e., read, write, append, etc. (default is read )

### File Modes
<table border="1">
<tr><th>Mode </th><th> Meaning of Mode During </th><th> Inexistence of file</th></tr>
<tr><td>r /rb </td><td>Open text/binary for reading. </td><td> If the file does not exist, open() returns None.</td></tr>
<tr><td>w/ wb </td><td>Open text/binary for writing. </td><td> If the file exists, its contents are overwritten. If the file does not exist, it will be created.</td></tr>
<tr><td>a/ ab </td><td>Open text/binary for append. i.e, Data is added to end of file. </td><td> If the file does not exists, it will be created.</td></tr>
<tr><td>r+ /rb+ </td><td> Open text/binary for both reading and writing. </td><td> If the file does not exist, open() returns None.</td></tr>
<tr><td>w+ / wb+</td><td> Open text/binary for both reading and writing. </td><td>If the file exists, its contents are overwritten. If the file does not exist, it will be created.</td></tr>
</table>

# 07/01/2022

### Class File
#### Methods
1. read([size])
    - Reads at most size bytes from the file.
    - If size is not specified then all contents of file will be read.
2. readline()
    - Reads one entire line from the file.
    - A trailing newline character is kept in the string.
    - Will raise an exception at eof.
3. readlines()
    - returna list containing the lines.
4. write(data)
    - Writes a data to the file.
5. writelines(collection)
    - Writes a sequence of strings to the file.
6. seek(offset[, whence])
    - Sets the file's current position
        - Where whence
            1. 0 – begin of file
            2. 1 – current pos
            3. 2 – end of file
7. tell( )
    - Returns the file's current position
8. truncate([size])
    - Truncates the file's size. If size is specified, the file is truncated to (at most) that size.
9. close()
    - Close the file.

###### WAP to read contents of file info.txt

In [4]:
file = open("ccit/info.txt")
data = file.read()
print(data)
file.close()

aditya
123
56
789

###### WAP to read specified no of chars of file info.txt

In [7]:
file=open("ccit/info.txt")
data=file.read(1)
print(data)
data=file.read(7)
print(data)
file.close()

a
ditya
1

###### WAP to read a line from file info.txt

In [8]:
file=open("ccit/info.txt")
data=file.readline()
print(data)
file.close()

aditya

###### WAP to read all lines from file info.txt and display them with line nos.

In [10]:
file=open("ccit/info.txt")
lst=file.readlines()
i=1
for data in lst:
    print(i,":",data)
    i=i+1
file.close()

1 : aditya

2 : 123

3 : 56

4 : 789

###### WAP to write data into file list.txt.

In [11]:
file=open("ccit/list.txt","w")
data="Amit Jain\nRaja Rathi\nMona Mnatri"
file.write(data)
file.close()
print("data stored. . .")

data stored. . .

In [16]:
file=open("ccit/list1.txt","w")
data=["alex","quinnen","codex"]
file.writelines(data)
file.close()
print("data stored. . .")

data stored. . .

###### WAP to read name and add it at end of file list.txt.

In [13]:
data=input("Enter Name :")
file=open("ccit/list.txt","a")
file.write("\n"+data)
file.close()
print("data stored. . .")

Enter Name :yo bro
data stored. . .

###### WAP to copy boys.png into backup.jpg

In [14]:
filex=open("boys.png","rb")
data=filex.read()
filex.close()
filey=open("backup.png","wb")
filey.write(data)
filey.close()
print("file copied")

file copied

# 08/01/2022

## Data
- Data is a smallest unit of information.

## Database
- 
- 
-

# 04/02/2022

## Python Database Applications
- To connect with any database we require a Connector /Driver.
- Python provides us different connectors for different databases.
- Such as 
    1. MySQL
    2. Microsoft SQL Server 
    3. Oracle
    4. SqlLite
    5. Sybase
    6. etc

## MySQL Driver/Connector
- Python needs a MySQL driver to communicate with MySQL server.
-  we have to Download MySQL Driver/Connector.
-  To Install My-SQL Connector use PIP tool.
    - pip install mysql-connector
- This Connector /Driver is defined in package mysql

### PIP
- pip is the standard package manager for Python.
- It allows you to install and manage additional packages that are not part of the Python standard library.
- This tool is by default installed with python.
- This pip tool can be executed from command prompt.
<br><br><br>
- Syntax to use pip tool:
    - pip <command> [options]
- Command can be:
1. install :- Install packages.
2. uninstall :- Uninstall packages.
3. list :- List installed packages.
4. help :- Show help for commands

### Class MySQLConnection
- This class is used to manage session with database.
- It is defined in module mysql.connector
#### Constructor:
- MySQLConnection(**kwargs)
    - Will connect with database and return a Connection Object if successful.
    - Arguments can be
        - user : The user name used to authenticate
        - password : password to authenticate the user
        - database : database name
        - host : The host name or IP address (default is localhost )
        - port : The TCP/IP port of the MySQL server(default is 3306)
- Note : Same be achiveied by using connect( **kargs) function.

### Methods
1. close( ) 
    - will close connection with database.
2. commit( ) 
    - commits the current transaction.
3. rollback( ) 
    - Cancels the current transaction. 
4. is_connected( ) 
    - It returns True when the connection is available, False otherwise.
5. cursor( )
    - This method returns a MySQLCursor() object.
    - This Object can be used to send SQL statements to database.

###### WAP to connect with a database ccitdb present on your local system.( userid=root password =787898 )

In [3]:
import mysql.connector as sql
try:
    conn=sql.MySQLConnection(user="root",password="787898",database="ccitdb")
    print("Connected...")
    conn.close()
except Exception as e:
    print("Failed to Connect",e)

Connected...

### Class MySQLCursor
- It is used to send a sql statement to database.
- MySQL cursor is read-only and non-scrollable.
- Read-only
    - you cannot update data in the underlying table through the cursor.
- Non-scrollable
    - you can only fetch rows in the order determined by the SELECT statement. 
    - You cannot fetch rows in the reversed order. 
    - you cannot skip rows or jump to a specific row in the result set.
#### Constructor
- MySQLCursor(MySQLConnection )
    - Creates a cursor from a connection object.

### Methods
- execute(query, params=None)
    - This method executes the given query or command. 
    - For insert / update / delete operation we can check how many rows affected by using cursor property rowcount.
    - The params argument is used to pass parameter values of the query.
- fetchone( )
    - This method return one single record as list.
- fetchall( )
    - This method return all records as multidimensional list.
- fetchmany(SIZE)
    - This method return specific number of records.
### Properties
- rowcount
    - Indicates no of rows affected
- with_rows
    - returns True or False to indicate whether the most recently executed operation produced rows.

###### WAP to insert a record into table accmaster. Database=ccitdb user=root password=787898

In [4]:
import mysql.connector as sql
try:
    mydb=sql.MySQLConnection(user="root",password="787898",database="ccitdb")
    smt="insert into accmaster values(1010,'Raj Joshi',25000)"
    cur=mydb.cursor()
    cur.execute(smt)
    if cur.rowcount==1:
        print("Record Inserted...")
        mydb.commit()
    mydb.close()
except Error as e:
    print("Failed to Connect",e)

Record Inserted...